/*@font-face {
   font-family: 'arco_cyrillicregular';
   src: url('./fonts/rco-cyrillic-webfont.woff2') format('woff2'),
        url('./fonts/arco-cyrillic-webfont.woff') format('woff'),
        url('./fonts/arco-cyrillic.otf') format('opentype'), 
        url('./fonts/arco-cyrillic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}*/

* {
   font-family: "Bai Jamjuree", sans-serif !important;
   color: #fff;
}

html {
   scroll-behavior: smooth;
}

._scale_hover {
   transition: all 0.4s ease 0s;
   cursor: pointer;
}

._scale_hover:hover {
   transform: scale(1.1);
}

.networks {
   display: flex;
   align-items: center;
   gap: 24px;
}

.networks a {
   display: block;
}

.ca {
   word-wrap: break-word;
   word-break: break-all;
   max-width: 100%;
}

._container {
   max-width: 1600px;
   padding: 0 20px;
   margin: 0 auto;
}

.wrapper {
   position: relative;
   overflow: hidden;
   min-height: 100%;
}

@media (min-width: 1920px) {
   .wrapper {
      min-height: 1024px;
   }
}

.bg__wrap {
   position: relative;
}

.bg {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

[data-copy] {
   cursor: pointer;
}

.copied_modal {
   position: fixed;
   top: 50%;
   color: #000;
   left: 50%;
   z-index: 100;
   background: #fff;
   font-family: "Knewave", system-ui;
   padding: 10px 30px;
   white-space: nowrap;
   border-radius: 20px;
   transform: translate(-50%, -50%);
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s ease 0s;
}

.copied_modal._show {
   opacity: 1;
   visibility: visible;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: start;
   padding: 60px;
   padding-top: 100px;
}

.title__bg {
   position: absolute;
   z-index: -1;
   top: 60px;
   left: 0;
}

.man {
   position: absolute;
   z-index: -1;
   right: 60px;
}

.join__button {
   color: var(--Text-900, #060e09);
   font-family: "Bai Jamjuree";
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 140%; /* 28px */
   text-transform: uppercase;
   margin-top: auto;
   padding: 18px 24px;
   border-radius: 8px;
   background: var(--Green-Primary, #9fed7e);
   transition: all 0.4s ease;
   border: 1px solid transparent;
   white-space: nowrap;
   max-width: 100%;
   min-width: 220px;
   text-align: center;
}

.join__button:hover {
   color: #fff;
   border-color: #000;
   background-color: #000;
}

.title {
   max-width: 730px;
   color: var(--Text-900, #060e09);
   font-family: "Bai Jamjuree";
   font-size: 80px;
   font-style: normal;
   font-weight: 700;
   line-height: 110%; /* 88px */
   text-transform: uppercase;
   margin-top: 120px;
   margin-bottom: 40px;
}

body.ru * {
   font-family: "Rubik", sans-serif !important;
}

body.ru .title {
   max-width: 1000px;
}

@media (max-width: 1500px) {
   body.ru .title {
      max-width: 700px;
   }
}

.text {
   color: var(--Text-900, #060e09);
   font-feature-settings: "liga" off, "clig" off;
   font-family: "Bai Jamjuree";
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 33.6px */
   max-width: 670px;
   margin-bottom: 15px;
}

.footer {
   margin-top: 30px;
   padding: 40px;
   border-radius: 12px;
   background: var(--Green-800, #102619);
   display: flex;
   gap: 40px;
   align-items: center;
   width: 100%;
}

.footer__text {
   color: #fff;
   font-feature-settings: "liga" off, "clig" off;
   font-family: "Bai Jamjuree";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 33.6px */
}

@media (min-width: 1440px) {
   .footer__text {
      font-size: 24px;
   }
}

.green {
   color: #9fed7e;
}

.offer {
   color: #fff;
   font-feature-settings: "liga" off, "clig" off;
   font-family: "Bai Jamjuree";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 28px */
   padding: 30px 40px;
   border-radius: 8px;
   border: 2px solid #5b8748;
   background: linear-gradient(267deg, #0c391f -2.74%, #102619 100.59%);
   margin-left: auto;
   text-align: center;
}

.discount {
   padding: 24px;
   border-radius: 8px;
   border: 2px solid #64994d;
   background: #fff;
   position: absolute;
   right: 60px;
   top: 55%;
}

.discount__title {
   color: #000;
   font-feature-settings: "liga" off, "clig" off;
   font-family: "Bai Jamjuree";
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; /* 39.2px */
}

.discount__text {
   color: #000;
   font-feature-settings: "liga" off, "clig" off;
   font-family: "Bai Jamjuree";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 28px */
}

.show-1600 {
   display: none;
}

.real__footer {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 28px 74px;
   gap: 10px;
}

.terms {
   color: var(--Text-900, #060e09);
   text-align: center;
   font-family: "Bai Jamjuree";
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 22.4px */
}

.footer__links {
   display: flex;
   align-items: center;
   gap: 24px;
   text-align: center;
}

.footer__link {
   color: var(--Text-900, #060e09);
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 140%; /* 19.6px */
   text-transform: uppercase;
}

@media (max-width: 1024px) {
   .real__footer {
      flex-direction: column-reverse;
      align-items: center;
      gap: 32px;
      background: #fff;
   }
   .footer__links {
      flex-direction: column;
      gap: 16px;
   }
}

@media (max-width: 600px) {
   .terms {
      font-size: 12px;
   }
}

@media (max-width: 1600px) {
   .show-1600 {
      display: inline-block;
   }
   .hide-1600 {
      display: none;
   }
}

@media (max-width: 1500px) {
   .title {
      font-size: 60px;
   }
   .man {
      width: 500px;
   }
   .discount {
      top: 50%;
   }
}

@media (max-width: 1200px) {
   .man {
      width: 450px;
      right: 0;
   }
   .title {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 60px;
      max-width: 650px;
   }
   .discount {
      top: 45%;
   }
   .footer__text {
      font-size: 16px;
   }
   .footer {
      gap: 20px;
      padding: 30px;
   }
   .offer {
      padding: 25px;
      font-size: 16px;
   }
   .text {
      max-width: 550px;
   }
   .ball {
      width: 60px;
   }
}

.show-1024 {
   display: none;
}

@media (max-width: 1024px) {
   .show-1024 {
      display: inline-block;
   }
   .hide-1024 {
      display: none;
   }
   .title {
      margin-top: 130px;
      margin-bottom: 10px;
      max-width: 572px;
      font-size: 50px;
   }
   .text {
      max-width: 420px;
      margin-bottom: 150px;
   }
   .discount {
      position: relative;
      width: max-content;
      left: 10px;
      margin-bottom: 120px;
   }
   .discount__title {
      font-size: 52px;
   }
   .man {
      width: 600px;
      top: 25%;
      right: -15%;
   }
   .content {
      padding-bottom: 0;
   }
}

@media (max-width: 900px) {
   .man {
      width: 450px;
      top: 30%;
      right: -15%;
   }
}

.show-550 {
   display: none;
}

@media (max-width: 750px) {
   .discount {
      top: 58%;
   }
   .join__button {
      width: 100%;
   }
   .offer {
      text-align: center;
      width: 100%;
   }
   .discount__title {
      font-size: 30px;
   }
   .content {
      padding: 16px;
      padding-top: 65px;
   }
   .footer__text {
      font-size: 16px;
   }
   .footer {
      padding: 16px;
   }
   .offer {
      padding: 10px;
      font-size: 16px;
   }
   .title {
      margin-top: 80px;
   }
   .content {
      max-width: 100vw;
   }
   .text {
      margin-bottom: 60px;
      max-width: 350px;
   }
   .discount {
      margin-bottom: 60px;
   }
   .footer {
      flex-direction: column;
      align-items: center;
   }
   .footer__text {
      text-align: center;
   }
   .offer {
      margin: 0;
   }
   .show-550 {
      display: inline-block;
   }
   .hide-550 {
      display: none;
   }
}

@media (max-width: 670px) {
   .man {
      width: 350px;
      top: 35%;
   }
   .title {
      font-size: 42px;
   }
   .text {
      font-size: 20px;
      max-width: 300px;
   }
   .ball {
      width: 60px;
   }
   .footer {
      gap: 10px;
   }
   .logo img {
      width: 330px;
   }
}

@media (max-width: 550px) {
   .logo img {
      width: 220px;
   }
   .content {
      padding-top: 30px;
   }
   .title {
      margin-top: 30px;
      font-size: 36px;
   }
   .join__button {
      font-size: 16px;
      padding: 18px 0px;
   }
   .offer {
      font-size: 14px;
   }
   .text {
      font-size: 14px;
      max-width: 250px;
   }
   .man {
      top: 20%;
      width: 300px;
   }

   .discount__title {
      font-size: 20px;
   }
   .discount__text {
      font-size: 14px;
   }
   .discount {
      left: 16px;
   }
}

@media (max-width: 480px) {
   .footer__text {
      font-size: 14px;
   }
   .man {
      width: 220px;
      right: 0%;
      top: 25%;
   }
   .discount {
      top: 60%;
      padding: 16px;
   }
   .text {
      margin-bottom: 30px;
   }
   .title {
      font-size: 30px;
   }
   .discount {
      top: 57%;
      margin-bottom: 30px;
   }
   body.pt,
   body.es .discount__title {
      font-size: 20px;
   }
   .discount {
      left: 0px !important;
   }
}

@media (max-width: 420px) {
   .man {
      width: 200px;
      right: 0%;
   }
   .text {
      max-width: 170px;
   }

   body.pt,
   body.fr,
   body.es .discount__title {
      font-size: 16px;
   }
   body.pt,
   body.fr,
   body.es .discount__text {
      font-size: 12px;
   }
}

@media (max-width: 350px) {
   .man {
      width: 200px;
      right: -10%;
   }
}

[data-anim-on-scroll] {
   transition: all 0.4s ease 0s;
   opacity: 0;
}

[data-anim-on-scroll]._animate {
   opacity: 1;
}

._right_anim_tr {
   transform: translateX(200%);
}

._left_anim_tr {
   transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
   transform: translateX(0%);
}

._bottom_anim_tr {
   transform: translateY(200%);
}

._top_anim_tr {
   transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
   transform: translateY(0%);
}

._scale_anim {
   transform: scale(0);
}

._scale_anim._animate {
   transform: scale(1);
}
