@font-face {
   font-family: "One Nine Nine Four";
   src: url("OneNineNineFour-Regular.woff2") format("woff2"), url("OneNineNineFour-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "One Nine Nine Four";
   src: url("OneNineNineFour-Regular.woff2") format("woff2"), url("OneNineNineFour-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
