@font-face {
    font-family: 'PixelGameFont';
    src: url('PixelGameFont.eot');
    src: url('PixelGameFont.eot?#iefix') format('embedded-opentype'),
        url('PixelGameFont.woff2') format('woff2'),
        url('PixelGameFont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

